<!DOCTYPE html>
<html>
    <head>
        <title><%- title %></title>
        <base href="/app">
        <script>
            window.Promise || document.write(
                '<script src="../es6-promise.min.js"><\/script><script>ES6Promise.polyfill()<\/script>'), /android/i.test(
                navigator.userAgent) || document.write('<script src="../fastclick.min.js"><\/script>');
        </script>
    </head>
    <body>
        <div id="app"><%- root %></div>
        <script>

        </script>
    </body>
</html>