@component-namespace detail{
    @component header{
        background: #fff;
        padding-bottom: .3rem;
        @descendent title{
            padding: .4rem .3rem;
            color: #000;
            font-size: .44rem;
        }
        @descendent msg{
            padding: 0 .3rem;
            color: #a9b5c5;
            font-size: .28rem;
        }
    }
    @component img{
        font-size: 0;
        @descendent img{
            width: 100%;
        }
    }
    @component con{
        position: relative;
        top: -.1rem;
        padding: 0 .24rem;
        margin-bottom: .4rem;
        @descendent txt{
            background: #fff;
            box-shadow: 0 0 0.6rem rgba(78,131,137,.15);
            padding: .4rem .36rem .5rem;
            color: #6e7d8f;
        }
        @descendent top{
            margin-bottom: .24rem;
            font-size: 0;
        }
        @descendent span{
            display: inline-block;
            height: 0.06rem;
        }
        @descendent green{
            width: .2rem;
            background: #0cb181;
        }
        @descendent black{
            width: .36rem;
            background: #000;
        }
    }
    @component content{
        padding: 0 .24rem;
        font-size: .26rem;
    }
}