.home{
    height: 100%;
    padding-top: 16px;
    background-color: #fff;
}
@component-namespace home {
    @component space-carousel {
        padding: 16px;
        overflow: hidden;
    }
    @component welcome{
        margin-top: 50px;
        padding: 24px;
        color: rgb(108, 129, 152);
        font-size: 34px;
        text-align: center;
        @descendent line{
            position: absolute;
            right: 0;
            bottom: 22px;
            border-top: 4px solid #0cb181;
            width: 100%;
            height: 1px;
            transform: scaleY(.5);
            transform-origin: 0 0;
            border-color: rgb(179, 208, 215);
        }
        @descendent font{
            display: inline-block;
            position: relative;
            z-index: 2;
            padding: 0 24px;
            background-color: #fff;
        }
    }
    @component cutoff{
        height: 1px;
        border-top: 1px solid #e6eaea;
        margin: 20px 0;
    }
    @component menu{
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px;
        @descendent item{
            display: flex;
            width: 33.33%;
            margin: 30px 0;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        @descendent icon{
            width: 48px;
            height: 48px;
            overflow: hidden;
        }
        @descendent icon img{
            width: 100%;
        }
        @descendent hg img{
            width: auto;
            height: 100%;
        }
        @descendent name{
            margin-top: 10px;
            font-size: 26px;
            color: rgb(110, 125, 143);
        }
    }
}