.home{
    height: 100%;
    padding-top: .16rem;
    background-color: #fff;
    overflow-y: auto;
}
.home-space-carousel{
    padding: .16rem;
    overflow: hidden;
}
.home-welcome{
    margin-top: .5rem;
    padding: .24rem;
    color: rgb(108, 129, 152);
    font-size: .34rem;
    text-align: center;
}
.home-welcome-line{
    position: absolute;
    right: 0;
    bottom: .22rem;
    border-top: 2px solid #0cb181;
    width: 100%;
    height: 1px;
    transform: scaleY(.5);
    transform-origin: 0 0;
    border-color: rgb(179, 208, 215);
}
.home-welcome-font{
    display: inline-block;
    position: relative;
    z-index: 2;
    padding: 0 .24rem;
    background-color: #fff;
}
.home-cutoff{
    height: 1px;
    border-top: 1px solid #e6eaea;
    margin: .3rem 0 .2rem;
}
.home-menu{
    display: flex;
    flex-wrap: wrap;
    padding: 0 .2rem;
}
.home-menu-item{
    display: flex;
    width: 33.33%;
    margin: .3rem 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home-menu-icon,.home-menu-hg{
    width: .48rem;
    height: .48rem;
    overflow: hidden;
}
.home-menu-icon img{
    width: 100%;
}
.home-menu-hg img{
    width: auto;
    height: 100%;
}
.home-menu-name{
    margin-top: .1rem;
    font-size: .26rem;
    color: rgb(110, 125, 143);
}
.home-news{
    padding-top: .2rem;
}
.home-news-title{
    margin: .3rem;
    padding-left: .2rem;
    border-left: .2rem solid rgb(142, 178, 187);
    color: rgb(87, 108, 132);
    font-size: .36rem;
    line-height: .42rem;
}
.home-news-more{
    display: block;
    height: .66rem;
    line-height: .66rem;
    text-align: center;
    background: #f4f8f9;
    color: #6e7d8f; 
}