.life{
    background: #fff;
    height: 100%;
}

@component-namespace life{
    @component header{
        font-size: .28rem;
        padding: .2rem;
        text-align: center;
        color: rgb(110, 125, 143);
        border-bottom: 1px solid rgb(221, 222, 225);
        @descendent img{
            width: .5rem;
            height: .5rem;
        }
    }
    @component content{
        padding: .6rem .2rem;
    }
}